<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>detalles por id </h1>
    <% if (detalle.length == 0) { %>
        <p> No existe el id</p>
        
    <% } else { %>
        <ul>
        <% for (let i=0; i<detalle.length; i++) { %>
        <li>
            <%=detalle[i].nombre %> , 
            <%=detalle[i].integrantes %> ,
            <a href="/bandas/genero/<%=detalle[i].genero %>"><%=detalle[i].genero %> ,</a>  
            <%=detalle[i].topCanciones %> , 
            <img src="/<%=detalle[i].cover%>" alt="Poster">
            <%=detalle[i].id %> , 
            <a href="<%=detalle[i].video %>"> video</a> 
        </li>
           <%}%>
    </ul>
        
    <%} %>
</body>
</html>